.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.form > input {
  padding: 20px 0;
}

.input {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.button {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.list {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: yellow;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes color {
  50% {
    background-color: yellow;
    color: red;
  }
  100% {
    background-color: red;
    color: yellow;
  }
}

/* LOADER */

.loader-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background: rgba(0,0,0,.4);
}

.loader-box--show {
  display: flex;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  
}
.lds-ripple div {
  position: absolute;
  border: 4px solid gold;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
